<div ng-show="currentAirport">
	<p></p>
	<h3>{{ currentAirport.name }} ({{currentAirport.code}})</h3>

	<h3>Flights</h3>

	<h4>From:</h4>
		<ul>
			<li ng-repeat="flight in currentAirport.flights_from">
				<a href="#/flights/{{flight.number}}">{{flight.number}}</a>
				 - <a href="#/airport/{{flight.destination.code}}">{{flight.destination.name}}</a>
			</li>
		</ul>
	<h4>To:</h4>
		<ul>
			<li ng-repeat="flight in currentAirport.flights_to">
				<a href="#/flights/{{flight.number}}">{{flight.number}}</a>
				 - <a href="#/airport/{{flight.origin.code}}">{{flight.origin.name}}</a>
			</li>
		</ul>
</div>