<div class="row">
	<div class="col-xs-6">
		<ul>
			<li ng-repeat="airport in airports">
				<a href="" ng-click="setAirport(airport.code)">
					{{ airport.code }} - {{ airport.name}}
				</a>
			</li>
		</ul>
	</div>

	<div class="col-xs-6" ng-include src="sidebarURL"></div>
</div>