<h3>Search for flights</h3>

<div class="controls controls-row">
  <input type="text" class="input-small" placeholder="Origin" ng-model="search.origin" />
  <input type="text" class="input-small" placeholder="Destination" ng-model="search.destination" />
</div>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="flight in flights | filter:search">
      <td><a href="#/flights/{{flight.number}}">{{flight.number}}</a></td>
      <td>
        <a ng-href="#/airports/{{flight.origin.id}}">
          {{flight.origin.name}}
        </a>
      </td>
      <td>
        <a ng-href="#/airports/{{flight.destination.id}}">
          {{flight.destination.name}}
        </a>
      </td>
      <td>{{flight.price | currency}}</td>
    </tr>
  </tbody>
</table>