<div ng-show="currentFlight">
	<p></p>
	<h3>Flight number: {{currentFlight.number}}</h3>

	<h4>Airport (Origin): <a href="#/airports/{{currentFlight.origin.code}}">{{currentFlight.origin.name}}</a></h4>

	<h4>Airport (Destination): <a href="#/airports/{{currentFlight.destination.code}}">{{currentFlight.destination.name}}</a></h4>
</div>