<div class="row">
	<div class="col-xs-6">
		<h2>Login</h2>
		<p class="text-danger">{{message}}</p>
		<form>
			<label>Email: </label>
			<input type="email" ng-model="credentials.email" placeholder="Email" class="form-control" />
			<label>Password: </label>
			<input type="password" ng-model="credentials.password" placeholder="Password" class="form-control" />
			<br />
			<button class="btn btn-primary" ng-click="authenticate(credentials)">Login</button>
			<a href="#/register">Register</a>
		</form>
	</div>
</div>