<div class="row">
	<div class="col-xs-6">
		<h2>Register</h2>
		<p class="text-danger" ng-repeat="message in messages">{{message}}</p>
		<form>
			<label>Email: </label>
			<input type="email" ng-model="credentials.email" placeholder="Email" class="form-control" />
			<label>Password: </label>
			<input type="password" ng-model="credentials.password" placeholder="Password" class="form-control" />
			<label>Confirm Password: </label>
			<input type="password" ng-model="credentials.password_confirmation" placeholder="Confirm Password" class="form-control" />
			<br />
			<button class="btn btn-primary" ng-click="register(credentials)">Register</button>
			<a href="#/login">Login</a>
		</form>
	</div>
</div>