<div ng-show="currentReservation">
	<p></p>
	<h3>Reservation id: {{currentReservation.id}}</h3>

	<h4>Flight Number: <a href="#/flights/{{currentReservation.flight.number}}">{{currentReservation.flight.number}}</a></h4>

	<h4>Flight Details: </h4>

	From: <a href="#/airports/{{currentReservation.flight.origin.code}}">{{currentReservation.flight.origin.name}}</a> <br />
	To: <a href="#/airports/{{currentReservation.flight.destination.code}}">{{currentReservation.flight.destination.name}}</a>
	
</div>