<div class="row">
	<div class="col-xs-12">
		<form class="form-inline">
			<input type="text" placeholder="Origin" class="form-control" ng-model="reserve.origin">
			<input type="text" placeholder="Destination" class="form-control" ng-model="reserve.destination">
		</form>

		<div class="table-responsive" ng-show="reserve.origin">
			<table class="table">
				<tr>
					<th>Number</th>
					<th>Origin</th>
					<th>Destination</th>
					<th>Price</th>
					<th>Reserve</th>
				</tr>
				<tr ng-repeat="flight in flights | filter:reserve">
					<td>{{flight.number}}</td>
					<td><a ng-href="#/airports/{{flight.origin.id}}">{{flight.origin.name}}</a></td>
					<td><a ng-href="#/airports/{{flight.destination.id}}">{{flight.destination.name}}</a></td>
					<td>{{flight.price}}</td>
					<td><button class="btn btn-primary" ng-click="reserveFlight(flight)">Reserve Flight</button></td>
				</tr>
			</table>
		</div>

		<h2>Your current reservations</h2>
		<div class="table-responsive" ng-show="reservations.length">
			<table class="table">
				<tr>
					<th>Reservation ID</th>
					<th>Flight Number</th>
					<th>Origin</th>
					<th>Destination</th>
					<th>Cancel Reservation</th>
				</tr>
				<tr ng-repeat="reservation in reservations">
					<td><a href="#/reservations/{{reservation.id}}">{{reservation.id}}</a></td>
					<td><a href="#/flights/{{reservation.flight.number}}">{{reservation.flight.number}}</a></td>
					<td><a ng-href="#/airports/{{reservation.flight.origin.code}}">{{reservation.flight.origin.name}}</a></td>
					<td><a ng-href="#/airports/{{reservation.flight.destination.code}}">{{reservation.flight.destination.name}}</a></td>
					<td><button class="btn btn-danger" ng-click="cancelFlight(reservation.id)">Cancel</button></td>
				</tr>
			</table>
		</div>
		<div ng-hide="reservations.length">
			<p>You currently don't have any reservations.</p>
		</div>
	</div>
</div>