<div ng-show="airport1 && airport2">

	<div class="col-xs-6">
		<h3>{{ airport1.name }}</h3>
		
		<h4>Flights</h4>

		<h4>From:</h4>
			<ul>
				<li ng-repeat="flight in airport1.flights_from">
					<a href="#/flight/{{flight.number}}">{{flight.number}}</a>
					 - <a href="#/airport/{{flight.destination.code}}">{{flight.destination.name}}</a>
				</li>
			</ul>
		<h4>To:</h4>
			<ul>
				<li ng-repeat="flight in airport1.flights_to">
					<a href="#/flight/{{flight.number}}">{{flight.number}}</a>
					 - <a href="#/airport/{{flight.origin.code}}">{{flight.origin.name}}</a>
				</li>
			</ul>
	</div>

	<div class="col-xs-6">
		<h3>{{ airport2.name }}</h3>

		<h4>Flights</h4>

		<h4>From:</h4>
			<ul>
				<li ng-repeat="flight in airport2.flights_from">
					<a href="#/flight/{{flight.number}}">{{flight.number}}</a>
					 - <a href="#/airport/{{flight.destination.code}}">{{flight.destination.name}}</a>
				</li>
			</ul>
		<h4>To:</h4>
			<ul>
				<li ng-repeat="flight in airport2.flights_to">
					<a href="#/flight/{{flight.number}}">{{flight.number}}</a>
					 - <a href="#/airport/{{flight.origin.code}}">{{flight.origin.name}}</a>
				</li>
			</ul>
	</div>

</div>