<html ng-app="airline">
<head>
	<title>AngulAir</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-resource.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-cookies.min.js"></script>
	<script type="text/javascript" src="js/controllers/app.js"></script>
	<script type="text/javascript" src="js/controllers/airports.js"></script>
	<script type="text/javascript" src="js/controllers/flights.js"></script>
	<script type="text/javascript" src="js/controllers/reservations.js"></script>
	<script type="text/javascript" src="js/controllers/airport.js"></script>
	<script type="text/javascript" src="js/controllers/two_airports.js"></script>
	<script type="text/javascript" src="js/controllers/login.js"></script>
	<script type="text/javascript" src="js/controllers/register.js"></script>
	<script type="text/javascript" src="js/controllers/flight.js"></script>
	<script type="text/javascript" src="js/controllers/reservation.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container" ng-controller="AppCtrl">
		<div ng-show="isLoggedIn">
			<h1>AngulAir</h1>
			<ul class="nav nav-pills">
				<li role="presentation" ng-class="airportsActive"><a href="#/airports">Airports</a></li>
				<li role="presentation" ng-class="flightsActive"><a href="#/flights">Flights</a></li>
				<li role="presentation" ng-class="reservationsActive"><a href="#/reservations">Reservations</a></li>
				<li><button class="btn btn-danger" ng-click="logout()">Logout</button></li>
			</ul> <br />
		</div>
		<div ng-view></div>
	</div>
</body>
</html>